<!DOCTYPE html>
<html>
  <head>
    <title>Demo ADMN Rails <%= @page_title || "Admin Area" %></title>
  </head>
  <body>
    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->
  </body>
</html>
