<h1>Hello from index</h1>

<a href="/demo/hello">Hello page 1</a><br />
<%= link_to('Hello page 2', {:action => "hello"}) %><br />

<%= link_to('Hello with parameters', {:action => "hello", :page => 5, :id => 20}) %><br />

<br />
<b>Status:</b><br />
<%= status_tag(false) %>

<% @array.each do |n| %>
  <%= render(:partial => 'form', :locals => {:n => n}) %>
<% end %>

<% text = "O cuidado em identificar \npontos críticos no novo modelo estrutural aqui \npreconizado desafia a capacidade de equalização das diversas correntes de pensamento." %>
<br />
<b>word_wrap:</b> <br />
<%= word_wrap(text, :line_width => 10) %>

<br /> <br />
<b>simple_format:</b>
<%= simple_format(text) %>

<b>truncate:</b>
<%= truncate(text, :length => 28) %>

<br /> <br />
<b>pluralize:</b><br />
<% [0,1,2].each do |n| %>
  <%= pluralize(n, 'product') %> found.<br />
<% end %>
